.form-block
  =form_for(@specialist)do |f|
    .form-block-fields
      =f.text_field :name, placeholder: 'Specialist name'  
      =f.text_field :rate, placeholder: 'Rate' 
      =f.text_field :city, placeholder: 'City'
      =f.text_field :country, placeholder: 'Country' 
      =f.text_field :position, placeholder: 'Position' 

      =f.submit 'Create'