.form-block
  =form_for(@job)do |f|
    .form-block-fields
      =f.text_field :title, placeholder: 'Job title'  
      =f.select(:format, options_for_select(["Fulltime", "Part-time", "Contract"]), {prompt: "Select format"})
      %br
      =f.select(:area, options_for_select(["Programming", "Design", "Support"]), {prompt: "Select area"})

      =f.submit 'Create'