%ul.propositions-list
  - @works.each do |work|
    %li
      .proposition
        %h3 
          %a{href: '#'} #{work.title}    
        / %a{href: '/company'} General Assembly
        %span Posted: #{work.created_at.month work.created_at.day}
    