
/*------------ Devise forms ------------*/

.form-block {
	width: 50%;
	margin: 0 auto;
	margin-top: 0.5em;
	padding: 5px;
	background-color: darken(#ffffff, 5%);
	h2 {
		text-align: center;
	}
	input {
		display: block;
		width: 100%;
		margin: 0.5px 0 0.5em 0;
		padding: 0.5em;
	}
	select {
		padding: 0.5em;
		margin-bottom: 0.5em;
		width: 50%;

	}
}

.form-lock-fields {
  width: 70%;
	margin: 0 auto;
}