
// tag boxes for skills for Jobs and Specialists

.skills {
	margin-top: 10px;
	width: 100%;
}

.skills-list {
	li {
		display: inline-block;
		background-color: #ff6347;
		padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
	}
}

// headers for show pages sections

.profile,
.job-description {
	h4 {
		padding: 15px 0 15px 0;
		font-weight: bold;
	}
}