
// tag boxes for skills for Jobs and Specialists

.skills {
	margin-top: 0.66em;
	width: 100%;
}

.skills-list {
	li {
		display: inline-block;
		background-color: #ff6347;
		padding: 0.33em;
    color: #ffffff;
    border-radius: 0.33em;
    margin-top: 0.33em;
	}
}

// headers for show pages sections

.profile,
.job-description {
	h4 {
		padding: 1em 0 1em 0;
		font-weight: bold;
	}
}