@import 'unity';

// ---------- INDEX PAGE ----------

.propositions-list {
	width: 100%;
	li {
		border-bottom: 0.1em solid darken(#ffffff, 30%);
		&:last-child {border: none;}
	}
}

.proposition {
	padding: 0.5em;
	position: relative;
	h3,
	a {
		display: inline;
		margin-right: 0.5em;
	}
	span {
    position: absolute;
    right: 0;
	}
}

.programming-jobs-block,
.design-jobs-block,
.support-jobs-block {
	width: 100%;
  h2 {padding: 0.5em;}
}
    
/*------------ JOB PAGE ------------*/

.job {width: 100%;} 

.company-info,
.job-description {
  padding: 0.5em;
}

.description {width: 100%;}

/*------------ Right block*/

.job-description {
	li {margin-bottom: 0.66em;}
}

/*------------ Left block*/

.left-block.job-description {span {margin: 0;}}

.company-info {text-align: center;}

.apply-button {
	padding: 1em;
	margin-top: 1em;
}

.company-logo {
	width: 25%;
	height: 25%;
	margin: 0 auto;
  img {width: 100%;}
  li {
  	padding-bottom: 0.25em;
  	&:first-child {
  		padding-top: 0.5em;
  		font-size: 1.5em;
  	}
  }
}