
// ---------- INDEX PAGE ----------

.propositions-list {
	width: 100%;
	li {
		border-bottom: 0.1em solid darken(#ffffff, 30%);
	}
}

.proposition {
	padding: 0.5em;
	position: relative;
	h3,
	a {
		display: inline;
		margin-right: 0.5em;
	}
	span {
    position: absolute;
    right: 0;
	}
}

/*------------ JOB PAGE ------------*/

.job {
	width: 100%;
}

.company-info,
.job-description {
  padding: 0.5em;
}

.description {
	width: 100%;
	h4 {
		padding: 15px 0 15px 0;
		font-weight: bold;
	}
}

/*------------ Right block*/

.job-description {
	li {
		margin-bottom: 0.66em;
	}
}

/*------------ Left block*/

.company-info {
	text-align: center;
}

.apply-button {
	padding: 1em;
	margin-top: 1em;
}

.company-logo {
	width: 25%;
	height: 25%;
	margin: 0 auto;
  img {
    width: 100%;
  }
}